<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <deleteItem>
            <processor type="Web.CM.PipelineBasedItemProviders.DeleteItemProcessor, Web.CM" />
          </deleteItem>
          <saveItem>
            <processor type="Web.CM.PipelineBasedItemProviders.SaveItemProcessor, Web.CM" />
          </saveItem>
        </pipelines>
      </group>
    </pipelines>
    <!--<events>
      <event name="publish:end">
        <handler type="Web.CM.Events.PublishEndEvent, Web.CM" method="OnPublish"/>
      </event>
      <event name="publish:complete">

        <handler type="Web.CM.Events.PublishCompletedEvent, Web.CM" method="OnPublish"/>

      </event>
    </events>-->
  </sitecore>
</configuration>